body {
    background-size: 12vh;
}

/*--------------------*/
/*------header--------*/
/*--------------------*/

header {
    /*-----barre noir-----*/
    background-color: rgb(10, 10, 10);
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    max-width: 100vw;
}

header ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

header ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*--------------------*/
/*------footer--------*/
/*--------------------*/

footer {
    /*-------barre footer------*/
    background-color: rgb(10, 10, 10);
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    /*----stuck en bas-------*/
    position: relative;
    bottom: 0;
    width: 98%;
}

footer ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer ul li {
        /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*--------------------*/
/*------links---------*/
/*--------------------*/

a {
    color: rgb(155, 155, 155);
}

.index {
    color: rgb(0, 75, 255)
}

.cv {
    color: rgb(255, 255, 0)
}

.certif {
    color: rgb(0, 155, 0);
}

.projet {
    color: rgb(155, 0, 0);
}

.veille {
    color: rgb(64, 0, 128);
}

.exp {
    color: rgb(0, 200, 128);
}

.passion {
    color: rgb(255, 128, 0);
}

/*--------------------*/
/*------responsive----*/
/*--------------------*/

@media screen and (max-width:1024px) {
    
    header,
    footer {
        font-size: 25px;
    }

    /*--------enleve espacement et sépare de la bordure de l'écran------------*/
    header ul li,
    footer ul li {
        margin-inline: none;
        margin-right: 1px;
    }

}