/*--------------------*/
/*---------Preset-----*/
/*--------------------*/

body {
    background:
        /* top, transparent color, faked with gradient */
        linear-gradient(rgba(15, 0, 35, 0.9),
            rgba(15, 0, 35, 0.9)),
        /* bottom, image */
        url(images/wllppr_index.jpg);
    color: rgb(255, 255, 255);
}

/*--------------------*/
/*----Responsive------*/
/*--------------------*/

@media screen and (max-width:1024px) {
    body {
        color: rgb(255, 255, 255);
    }
}