body {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(25, 50, 35, 0.9),
            rgba(25, 50, 35, 0.9)),
        /* bottom, image */
        url(images/wllppr_index.jpg);
    color: rgb(0, 128, 50);
}

h1 {
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 1);
}

.section3e {
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 1);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 1);
    position: relative;
    width: 30vw;
    text-align: center;
    left: 10vw;
}

@media screen and (max-width:1024px) {
    body {
        font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }

    .section3e {
        position: unset;
        width: auto;
        left: auto;
        font-size: 35px;
    }
}