/*--------------------*/
/*---------Preset-----*/
/*--------------------*/

body {
    background:
        /* top, transparent color, faked with gradient */
        linear-gradient(rgba(15, 0, 0, 0.9),
            rgba(15, 0, 0, 0.9)),
        /* bottom, image */
        url(images/wllppr_index.jpg);
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(128, 0, 0);
    margin-bottom: 2em;
}

.siteperso{
    color: rgb(255,128,0);
}

.secprojet li {
    margin-bottom: 5em;
    color: rgb(255,0,0);
}

@media screen and (max-width:1024px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 80px;
    }
    .secprojet {
        font-size: 30px;
    }
}